/* Global CSS */

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar CSS */

#nav-whitebar {
  background-color: white;
  box-shadow: 0px -10px 30px 0px #888;
}
  
.nav-link {
  color: black !important;
  font-weight: 500;
  padding: 0px !important;
}
  
.nav-link:hover {
  color: #555 !important;
}
  
.navbar-toggler {
  border: 1px solid #aaa !important;
}
  
@media screen and (max-width: 767px) {
  #navbarNav {
      margin-top: 1em;
  }
  
  .nav-link {
      margin: 0.5em 0em;
  }
}

 /* Body CSS */

  .few-words{
    
  }

  .item-list{
    
  }